.App {
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  padding: 30px;
}

.point {
  margin : 5px 0;
}

.pointHeader {
  background-color: #f2f2f2;
  padding: 8px 15px;
  cursor: pointer;
}

.pointHeader h2 {
  margin: 0;
}

.pointContent {
  padding: 10px 20px;
}

.pointContent h3 {
  margin-top: 30px;
  margin-bottom: 5px;
}

.inputWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  margin-bottom: 10px;
  margin-right: 20px;
}

.inputWrapper input {
  margin-top: 5px;
}